        <footer class="footer flex flex--row">
            <p class="footer__copy">
                &copy; Christopher Dinh 2019
            </p>
            <p class="footer__social">
                <i class="fa fa-instagram"></i>
                <i class="fa fa-youtube"></i>
            </p>
        </footer>
        
        <script src="/js/navigation.js"></script>
    </body>
</html>