        <footer class="footer flex flex--row">
            <p class="footer__copy">
                &copy; Christopher Dinh 2019
            </p>
            <p class="footer__social">
                <a href="#" class="footer__link">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="#" class="footer__link">
                    <i class="fa fa-youtube"></i>
                </a>
            </p>
        </footer>