@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dropDown {
  0% {
    opacity: 0;
    transform: translateY(-2em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes sidebarMOveInFromLeft {
  0% {
    transform: translateX(-10em);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeInOversized {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  background: #FFF;
}

body {
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
  color: #2d2d2d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.dropdown-menu {
  left: inherit !important;
  right: 0;
}

@media screen and (max-width: 768px) {
  .dropdown-menu {
    position: absolute !important;
  }
}
@supports (display: flex) {
  .flex {
    display: flex;
  }
  .flex--row {
    flex-direction: row;
  }
  .flex--col {
    flex-direction: column;
  }
  .flex--row-r {
    flex-direction: row-reverse;
  }
  .flex--col-r {
    flex-direction: column-reverse;
  }
  .flex--wrap {
    flex-wrap: wrap;
  }
  .flex--no-wrap {
    flex-wrap: nowrap;
  }
}
@supports (display: grid) {
  .grid {
    display: grid;
  }
  .grid--gallery {
    grid-template-columns: repeat(3, minmax(12.5em, 1fr));
    grid-template-rows: max-content;
  }
  .grid--gap-1 {
    grid-gap: 1em;
  }
  .grid--gap-2 {
    grid-gap: 2em;
  }
  .grid--gap-3 {
    grid-gap: 3em;
  }

  @media screen and (max-width: 1000px) {
    .grid--gallery {
      grid-template-columns: repeat(2, minmax(12.5em, 1fr));
    }
  }
  @media screen and (max-width: 768px) {
    .grid--gallery {
      grid-template-columns: repeat(2, minmax(12.5em, 1fr));
    }
  }
  @media screen and (max-width: 500px) {
    .grid--gallery {
      grid-template-columns: repeat(1, minmax(12.5em, 1fr));
    }
  }
}
.admin {
  position: relative;
  width: calc(100% - 15.625em);
  margin-left: 15.625em;
  height: 100%;
  padding: 1.5em 2em 0;
}
.admin .page-title {
  font-size: 1.3em;
  padding: 0 15px;
}

@media screen and (max-width: 768px) {
  .admin {
    width: 100% !important;
    margin-left: 0;
  }
}
.bio__title {
  margin: 0 0 0.5em 0;
}
.bio__image-container {
  display: block;
  width: 10em;
  height: 10em;
  margin: 0 auto;
}
.bio__img {
  width: 100%;
  border-radius: 50%;
}
.bio__desc {
  margin: 0.5em 0;
}

.main {
  display: block;
  max-width: 65em;
  margin: 2em auto;
  padding: 0 1em 2em;
}

.featured-images {
  position: relative;
  display: block;
  width: 100%;
  margin: 2em auto;
  height: 11em;
}
.featured-images__container {
  height: 100%;
}
.featured-images__item {
  min-width: 15%;
  margin: 0 1px;
}
.featured-images__item--flex {
  flex: 1;
}
.featured-images__img {
  width: 100%;
  height: 100%;
}
.featured-images__img:hover {
  opacity: 0.9;
  transition: opacity 0.4s ease-in-out;
}

@media screen and (max-width: 768px) {
  .featured-images {
    height: auto;
  }
  .featured-images__container.flex--row {
    flex-flow: column;
  }
  .featured-images__item {
    width: 100%;
    margin: 5px 0;
  }
  .featured-images__item--flex {
    flex: 0 0 100%;
  }
}
.albums {
  display: block;
  position: relative;
  padding: 1em 3em;
}
.albums__title {
  text-align: center;
  font-size: 1.1em;
  font-weight: 400;
}
.albums__list {
  list-style-type: none;
  justify-content: center;
  margin: 1em 0;
}
.albums__item {
  flex: 0 0 15%;
  text-align: center;
}
.albums__link {
  position: relative;
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.albums__link:hover .albums__slider {
  width: 100%;
}
.albums__link--active {
  border-bottom: 3px solid #55c57a;
}
.albums__slider {
  position: absolute;
  display: block;
  left: 0;
  top: 89%;
  margin: 0 auto;
  height: 3px;
  background-color: #55c57a;
  width: 0%;
  transition: width 0.4s ease;
}
.albums__select {
  display: none;
}

@media screen and (max-width: 768px) {
  .albums__list.flex--row {
    display: none;
  }
  .albums__item {
    margin: 0.15em 0;
  }
  .albums__select {
    display: block;
  }
}
.button {
  display: inline-block;
  position: relative;
  font-size: 0.8em;
  padding: 1em 2em;
  text-align: center;
  border-radius: 10em;
  margin: 1em 0;
  transition: all 0.2s;
  text-decoration: none;
}
.button--normal {
  border-radius: 6px;
  padding: 0.75em 3em;
  border: 1px solid #ced4da;
}
.button--green {
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.9), rgba(40, 180, 133, 0.7));
  border: 1px solid #55c57a;
  color: #FFF;
  font-weight: 600;
}
.button--success {
  border-radius: 6px;
  padding: 0.75em 3em;
  background-color: #28a745;
  border: 1px solid #28a745;
  color: #FFF;
}
.button--fail {
  border-radius: 6px;
  padding: 0.75em 3em;
  background-color: #dc3545;
  border: 1px solid #dc3545;
  color: #FFF;
}
.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.nav {
  font-size: 1.1em;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 0.95em;
  box-shadow: 0 0.1em 1em rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.9s linear;
}
.nav__logo {
  display: inline-block;
  font-size: 1em;
  margin: 0.5em 0 0 0.9em;
  width: 2em;
  height: 2em;
  text-decoration: none;
  border-radius: 3px;
  background-image: linear-gradient(to right bottom, #2376ae 0%, #c16ecf 100%);
}
.nav__logo-name {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #FFF;
}
.nav__logo:hover {
  background-image: linear-gradient(to right bottom, #c16ecf 10%, #2376ae 100%);
  transition: background-image 0.9s ease-in-out;
}
.nav__toggle {
  position: absolute;
  top: 1em;
  right: 1.2em;
  cursor: pointer;
  font-size: 1em;
}
.nav__toggle:hover {
  opacity: 0.7;
}
.nav__list {
  list-style-type: none;
  display: none;
}
.nav__list--active {
  display: block;
  animation: dropDown 0.4s ease-in-out;
}
.nav__item {
  text-align: center;
  margin: 1em auto;
}
.nav__links {
  text-decoration: none;
  color: #000;
  font-size: 0.9em;
}

@media screen and (min-width: 786px) {
  .nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 3.125em;
    align-items: center;
  }
  .nav__list {
    display: flex;
    margin-right: 1em;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav__item {
    margin: 0;
  }
  .nav__links {
    margin-left: 2em;
  }
  .nav__logo {
    margin-top: 0;
  }
  .nav__toggle {
    display: none;
  }
}
.gallery-image {
  position: relative;
}
.gallery-image__img {
  max-width: 100%;
  height: 16em;
  object-fit: cover;
}
.gallery-image__img--height-auto {
  height: auto;
}
.gallery-image__img:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}
.gallery-image__title {
  font-size: 1em;
  text-align: left;
  font-weight: 400;
  word-break: break-word;
}
.gallery-image__album {
  color: #777;
}

@media screen and (max-width: 1000px) and (min-width: 501px) {
  .gallery-image__img {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .gallery-image__img {
    width: 100%;
  }
}
.gallery {
  width: 100%;
}
.gallery__item {
  height: 100%;
}

.footer {
  height: 1.5em;
  border-top: 1px solid #ced4da;
  padding: 0.5em;
}
.footer__social, .footer__copy {
  flex: 1 1 0;
}
.footer__social {
  text-align: right;
  font-size: 1.2em;
}
.footer__social i {
  margin: 0 0.35em;
}
.footer__social i.youtube-red {
  color: #c4302b;
}
.footer__link {
  color: #000;
}

.form__group {
  display: block;
  margin: 1em 0;
}
.form__label {
  display: inline-block;
  margin-bottom: 0.5em;
}
.form__control {
  display: block;
  width: 100%;
  background-color: #FFF;
  border: 1px solid #ced4da;
  color: #000;
  font-size: 1em;
  font-weight: normal;
  padding: 0 0.625em;
  height: calc(1.5em + .75rem + 2px);
  line-height: 1.5;
  border-radius: 0.25em;
  overflow: visible;
  box-sizing: border-box;
}
.form__control--textarea {
  height: 8em;
  padding: 0.625em;
  resize: none;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15.625em;
  height: 100%;
  background-color: #FFF;
  padding: 3.5em 1em 1em;
  z-index: 5;
  border-right: 1px solid #ced4da;
}
.sidebar--open-mobile {
  animation: sidebarMoveInFromLeft 0.2s;
  left: 0 !important;
  z-index: 11;
}
.sidebar__user-info {
  display: block;
  padding: 1em 0.5em;
  margin: 0;
  border-bottom: 1px solid #000;
}
.sidebar__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar__link {
  display: block;
  padding: 0.55em;
  color: #000;
  margin: 0.75em 0;
  font-size: 0.85em;
}
.sidebar__link:hover {
  border-radius: 5px;
  background-color: #ced4da;
  color: #2d353c;
  text-decoration: none;
}
.sidebar-end {
  position: fixed;
  z-index: 4;
  background: #FFF;
  width: 15.625em;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid #ced4da;
  box-shadow: 0.1em 0 1em rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
  .sidebar {
    left: -15.625em;
  }
  .sidebar-end {
    left: -15.625em;
  }
}
.navbar {
  z-index: 8;
  background: #FFF !important;
  border-bottom: 1px solid #ced4da;
  box-shadow: 0 0.1em 1em rgba(0, 0, 0, 0.15);
}
.navbar--toggler {
  display: none;
  padding: 0.25em 0.75em;
  font-size: 1.25em;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25em;
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}
.navbar--toggler:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar--toggler {
    display: block;
  }
  .navbar--custom {
    flex: 0 0 100%;
    text-align: right;
  }
}
.user__name {
  display: block;
}
.user__type {
  display: block;
  font-size: 0.85em;
}

.panel {
  position: relative;
  display: block;
  width: 100%;
  margin: 1em 0;
  border-radius: 4px;
  background-color: #FFF;
}
.panel__header {
  position: relative;
  display: block;
  background-color: #282c34;
  padding: 0.25em 0.75em;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #FFF;
  font-size: 0.95em;
}
.panel__body {
  position: relative;
  display: block;
  padding: 0.75em;
  border-right: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 0.9em;
}

.btn--black {
  background: #282c34 !important;
  color: #FFF !important;
}
.btn--black:hover {
  opacity: 0.7;
}

.welcome {
  display: block;
  position: relative;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("/img/img1.jpg");
  background-size: cover;
  background-position: center;
  animation: fadeIn 0.9s linear;
}
.welcome__message {
  position: relative;
  top: 30%;
  text-align: center;
  color: #FFF;
  animation: fadeIn 0.9s linear;
  padding: 0 2em;
}

.contact__information, .contact__form {
  flex: 1 1 0;
}
.contact__form {
  padding: 1em;
}
.contact__information {
  border-right: 1px solid #ced4da;
  margin: 1em;
  padding: 0 1em;
}

@media screen and (max-width: 768px) {
  .contact .flex--row {
    flex-flow: column;
    flex-wrap: nowrap;
  }
  .contact__information {
    border-right: none;
  }
  .contact__form {
    margin: 1em;
    padding: 0 1em;
  }
}
.login {
  width: 100%;
  height: 100vh;
}
.login__left-half {
  flex: 0 1 100%;
  background-image: url("/img/login_img.jpg");
  background-size: cover;
  background-position: center;
}
.login__right-half {
  background: #FFF;
  flex: 0 0 31.25em;
  padding: 1em;
}
.login__title {
  margin: 3em 0 0;
  text-align: center;
}
.login__form {
  margin: 3em 3em 0;
  padding-bottom: 3em;
  border-bottom: 1px solid #ced4da;
}
.login__copyright {
  font-size: 0.9em;
  color: #ced4da;
  text-align: center;
  padding-top: 0.75em;
}

@media screen and (max-width: 767px) {
  .login__left-half {
    display: none;
  }
  .login__right-half {
    flex: 0 1 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
