<% include partials/header  %>
<% include partials/navigation %>

    <main class="main">
        <section class="contact">
            <div class="flex flex--row">
                <div class="contact__information">
                    <h1>24 Year Old photographer based out of New York City</h1>
                    <p>With a passion for sharing and exploring, each picture allows me to share a piece of my life with the world.</p>
                    <p>Whether it be the furthest beaches of Iceland, the tallest mountains of New Hampshire, or the grandest buildings in New York City, each location brings something new to experience.</p>
                </div>
                <div class="contact__form">
                    <h1>Contact Me</h1>
                    <form action="/contact" method="POST" enctype="multipart/form-data" class="form">
                        <div class="form__group">
                            <label for="name" class="form__label">Name</label>
                            <input type="text" name="name" class="form__control" required="required">
                        </div>
                        <div class="form__group">
                            <label for="email" class="form__label">Email</label>
                            <input type="email" name="email" class="form__control" required="required">
                        </div>
                        <div class="form__group">
                            <label for="phoneNumber" class="form__label">Phone Number</label>
                            <input type="phoneNumber" name="phoneNumber" placeholder="000-000-0000" class="form__control" required="required">
                        </div>
                        <div class="form__group">
                            <label for="message" class="form__label">Message</label>
                            <textarea name="message" class="form__control form__control--textarea" required="required"></textarea>
                        </div>
                        <div class="form__group">
                            <button class="button button--normal">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>

<% include partials/footer  %>
<% include partials/ending-tags  %>