<% include partials/header  %>
    <main class="login flex flex--row flex--no-wrap">
        <section class="login__left-half">

        </section>

        <section class="login__right-half">
            <h1 class="login__title">
                Christopher Dinh's Photography Portfolio Admin Portal
            </h1>
            <div class="login__form">
                <form action="/login" method="POST" enctype="application/x-www-form-urlencoded" class="form">
                    <div class="form__group">
                        <label for="user[email]">Email address</label>
                        <input type="email" class="form__control" id="user[email]" aria-describedby="user[email]" name="email" placeholder="Enter email">
                    </div>
                    <div class="form__group">
                        <label for="user[password]">Password</label>
                        <input type="password" class="form__control" id="user[password]" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="button button--normal">Log In</button>
                </form>
            </div>
            <p class="login__copyright">
                Christopher Dinh &copy; 2019
            </p>
        </section>
    </main>

<% include partials/ending-tags  %>