<% include partials/header  %>
<% include partials/navigation %>
    <main class="welcome">
        <div class="welcome__message">
            <h1>Welcome to Christopher Dinh's Photography Portfolio</h1>
            <p>
                <a href="/gallery" class="button button--green">View Gallery</a>
            </p>
        </div>
    </main>

<% include partials/ending-tags  %>