
// General fadeIn
@keyframes fadeIn {
    0%{
        opacity: .2;
    }

    50%{
        opacity: .5;
    }

    100%{
        opacity: 1;
    }
}

// Navigation
@keyframes dropDown{
    0%{
        opacity: 0;
        transform: translateY(-2em);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes sidebarMOveInFromLeft{
    0%{
        transform: translateX(-10em);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes fadeInOversized{
    0%{
        transform: scale(1.5);
        opacity: 0;
    }

    50%{
        transform: scale(1.2);
        opacity: .5;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}