.contact{

    &__information,
    &__form{
        flex: 1 1 0;
    }

    &__form{
        padding: 1em;
    }

    &__information{
        border-right: 1px solid $bootstrap-grey;
        margin: 1em;
        padding: 0 1em;
    }

}

@media screen and (max-width: 768px){
    .contact{
        .flex--row{
            flex-flow: column;
            flex-wrap: nowrap;
        }

        &__information{
            border-right: none;
        }

        &__form{
            margin: 1em;
            padding: 0 1em;
        }
    }
}