.welcome{
    display: block;
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right bottom, rgba(0,0,0, .4), rgba(0,0,0, .6)), url('/img/home_img.jpeg');
    background-size: cover;
    background-position: center;

    animation: fadeIn .9s linear;
    // animation: fadeInOversized 2s linear;

    &__message{
        position: relative;
        top: 30%;
        text-align: center;
        color: $color-white;
        animation: fadeIn .9s linear;
        padding: 0 2em;
    }
}