<aside class="sidebar">
    <ul class="sidebar__list">
        <li class="sidebar__user-info">
            <div class="user">
                <span class="user__name">
                    Daniel La
                </span>
                <span class="user__type">
                    Admin
                </span>
            </div>
        </li>
        <a href="/admin/dashboard" class="sidebar__link sidebar__link--round-borders">
            <li class="sidebar__list-item">
                <i class="fa fa-line-chart"></i>
                Dashboard
            </li>
        </a>
        <a href="/admin/albums" class="sidebar__link sidebar__link--round-borders">
            <li class="sidebar__list-item">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                Albums
            </li>
        </a>
        <a href="/admin/images" class="sidebar__link sidebar__link--round-borders">
            <li class="sidebar__list-item">
                <i class="fa fa-picture-o"></i>
                Images
            </li>
        </a>
    </ul>
</aside>